# Xcode
.DS_Store
build/
build_release/
dist/
.build-*/
*.derivedData
*.xcuserstate
*.xcuserdata
*.swp
*.md
*.cursor
*.agent
*.shared
*.swiftpm

# Build artifacts
*.app
*.dSYM

# Local
.idea/
.vscode/

# Swift Package Manager
.build/
Packages/
